<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>중소기업 정보 조회</title>

    <script>
	function changeFn(){
		var value = (cer_select.options[cer_select.selectedIndex].value);
		const URLSearch = new URLSearchParams(location.search);
		URLSearch.set('searchKeyword', String(value));
		const newParam = URLSearch.toString();

		window.open(location.pathname + '?' + newParam, '_self');
		}

	function changeFn1(){
		var value = (cer_select1.options[cer_select1.selectedIndex].value);
		const URLSearch = new URLSearchParams(location.search);
		URLSearch.set('searchKeyword1', String(value));
		const newParam = URLSearch.toString();

		window.open(location.pathname + '?' + newParam, '_self');
		}</script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
    #button_1{
    border: 0;
    background-color: transparent;
    }

    #button_2{
    border: 0;
    background-color: transparent;
    }

    #button_1:hover{
    background-color: gray;
    }

    #button_2:hover{
    background-color: gray;
    }
    </style>
</head>


<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<header class="d-flex align-items-center pb-3 border-bottom">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <li id="main-logo"  style="margin-right: 30px; margin-top: 10px; cursor: pointer; list-style: none; padding-left: 0px;">
            <img id="logo" src="/img/중소기업유통센터-2015변경_투명.png" style="width:300px; height:80px;">
        </li>
    </a>
</header>

<div class="col-lg-8 mx-auto p-4">
    <header class="d-flex align-items-center pb-3 mb-2 border-bottom" style="margin-left:30px">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="30" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">중소기업 정보조회 시스템</span>
        </a>
    </header>
</div>


<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; float: left;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">메뉴</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link link-body-emphasis">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <button id="button_1" type="button" style="width: 200px; height: 30px;" onclick="location.href='http://localhost:8090/mainboard#'">기업정보 조회</button>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                <button id="button_2" type="button" style="width: 200px; height: 30px;" onclick="location.href='http://localhost:8090/myboard#'">나의 업체 관리</button>
            </a>
        </li>
    </ul>
    <hr>
</div>



<div style="width:1150px; height:700px; float: right; margin-left: 20px; margin-right: 50px;">
    <main>
        <h2 style="font-size: 20px; margin-bottom: 30px; margin-top: 20px;">기업정보 조회</h2>

        <div style="margin-bottom: 10px;">
            <button id="button_3" type="button">저장</button>
        </div>


        <form>
            <div>확인서/인증서 조회</div>
            <select id = cer_select onchange="changeFn()">
                <option value="">==확인서/인증서 선택==</option>
                <option value="중소기업">중소기업</option>
                <option value="여성기업">여성기업</option>
                <option value="장애기업">장애기업</option>
                <option value="직접생산">직접생산</option>
                <option value="성능인증">성능인증</option>
                <option value="창업기업">창업기업</option>
                <option value="간주기업">간주기업</option>
            </select>
        </form>

        <form>
            <div>업종 조회</div>
            <select id = cer_select1 onchange="changeFn1()">
                <option value="">==업종 선택==</option>
                <option value="제조업">제조업</option>
                <option value="건설업">건설업</option>
                <option value="도매">도매 및 소매업</option>
                <option value="운수업">운수업</option>
                <option value="숙박">숙박 및 음식점업</option>
                <option value="금융서비스업">금융서비스업</option>
                <option value="교육서비스업">교육서비스업</option>
                <option value="사회복지">사회복지 서비스업</option>
                <option value="광업">광업</option>
            </select>
        </form>

        <form>
            <div>사업자등록번호 조회</div>
            <input >
        </form>



        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">체크</th>
                    <th scope="col">No.</th>
                    <th scope="col">업체명</th>
                    <th scope="col">업종</th>
                    <th scope="col">사업자등록번호</th>
                    <th scope="col">확인서/인증서 유무</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="TB_BOARD : ${list} ">
                    <td><input type="checkbox" name="xxx" value="yyy"></td>
                    <td th:text="${TB_BOARD.COLUMN1}">Text</td>
                    <td th:text="${TB_BOARD.COMPANYNAME}">Text</td>
                    <td th:text="${TB_BOARD.SERVICECODE}">Text</td>
                    <td th:text="${TB_BOARD.COMPANYNUM}">Text</td>
                    <td th:text="${TB_BOARD.CERTIFICATIOM}">Text</td>
                </tr>
                </tbody>
            </table>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/mainboard(page = ${page -1}, searchKeyword = ${param.searchKeyword}, searchKeyword1 = ${param.searchKeyword1}, searchKeyword2 = ${param.searchKeyword2})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" style="color : red"></strong>
            </th:block>
        </div>
    </main>
</div>


</body>

</html>