<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>중소기업 정보 조회</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    body{
    background-color : #FAFAFA;
    background-repeat : no-repeat;
    background-size : cover;
    resize: both;
    overflow: scroll;
    }

    #button_1{
    border: 0;
    background-color: transparent;
    }

    #button_2{
    border: 0;
    background-color: transparent;
    }

    #button_1:hover{
    background-color: gray;
    }

    #button_2:hover{
    background-color: gray;
    }

    .form{
    width: 1100px;;
    height: 70px;
    background-color:#ECF5FF;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px rgb(109, 109, 109);
    }

    #my-btn:hover{
    background-color: gray;
    }

    #my-btn{
    height: 30px;
    width: 100px;
    box-shadow: 0px 5px 10px -7px;
    background-color: #FFFFFF;
    border: 0.5px solid;
    border-radius:12px;
    }



    </style>

</head>



<body>

<script>

            $(document).ready(function() {
                const URLSearch = new URLSearchParams(location.search);
                const searchKeyword = URLSearch.get('searchKeyword');
                const searchKeyword1 = URLSearch.get('searchKeyword1');
                const searchKeyword2 = URLSearch.get('searchKeyword2');

                $("#cer_select").val(searchKeyword).prop("selected", true);
                $("#cer_select1").val(searchKeyword1).prop("selected", true);
                $('#inputValue').val(searchKeyword2);

            });

            function changeFn(){
                var value = (cer_select.options[cer_select.selectedIndex].value);
                const URLSearch = new URLSearchParams(location.search);
                URLSearch.set('searchKeyword', String(value));
                URLSearch.set('page', 0);
                const newParam = URLSearch.toString();

                window.open(location.pathname + '?' + newParam, '_self');
            }

            function changeFn1(){
                var value = (cer_select1.options[cer_select1.selectedIndex].value);
                const URLSearch = new URLSearchParams(location.search);
                URLSearch.set('searchKeyword1', String(value));
                URLSearch.set('page', 0);
                const newParam = URLSearch.toString();

                window.open(location.pathname + '?' + newParam, '_self');

            }
    </script>

<script type="text/javascript">
        function changeFn2(){
            let value = document.getElementById('inputValue').value;
            const URLSearch = new URLSearchParams(location.search);
            URLSearch.set('searchKeyword2', String(value));
            const newParam = URLSearch.toString();
            URLSearch.set('page', 0);

            window.open(location.pathname + '?' + newParam, "_self");
            }
    </script>

<script>
        function saveFn(){

        alert("나의 업체 목록에 저장되었습니다.");

        var rowData = new Array();
        var tdArr = new Array();
        var checkbox = $("input[name=my-checkbox]:checked");

        checkbox.each(function(i) {

        var tr = checkbox.parent().parent().eq(i);
        var td = tr.children();


        var no = td.eq(1).text().trim();
        var name = td.eq(2).text().trim();
        var code = td.eq(3).text().trim();
        var num = td.eq(4).text().trim();
        var cer = td.eq(5).text().trim();

        var num1 = Number(num);

        tdArr.push(no);
		tdArr.push(name);
		tdArr.push(code);
		tdArr.push(num1);
		tdArr.push(cer);


        var n;
        var num = (tdArr.length)/5;

        for (let n = 0; n < num; ++n) {

        $.ajax({
        url : '/mainboard/save',
        type : 'POST',
        dataType : 'json',
        data : {
        'COLUMN1_SAVE' : tdArr[5*n],
        'COMPANYNAME_SAVE' : tdArr[5*n+1],
        'SERVICECODE_SAVE' : tdArr[5*n+2],
        'COMPANYNUM_SAVE' : tdArr[5*n+3],
        'CERTIFICATION_SAVE' : tdArr[5*n+4],
        },
        success : function(data){
        }
        });

        }

        $("input[name=my-checkbox]").prop("checked", false);

		});

		}


    </script>

<script>
    function selectAll(selectAll)  {
  const checkboxes
       = document.getElementsByName('my-checkbox');

  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAll.checked;
  })
}
</script>


<script>
    function submitFn(){
        document.getElementById("formPost").submit();
        }
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<header class="d-flex align-items-center pb-3 border-bottom" style="height: 150px; background-color: rgb(0,52,113);">
    <a href="http://localhost:8090/mainframe" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <li id="main-logo" style="margin-right: 30px; margin-top: 10px; cursor: pointer; list-style: none; padding-left: 0px;">
            <img id="logo" src="https://estm.sbdc.or.kr/statics/images/comm/img_logo.png" style="width:260px; height:45px; margin-top: 3%; margin-left:3%">
        </li>
    </a>
</header>

<div class="col-lg-8 mx-auto p-4">
    <header class="d-flex align-items-center pb-3 mb-2 border-bottom" style="margin-left:30px">
        <a href="http://localhost:8090/mainframe" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="30" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">
                <strong>중소기업 정보조회 시스템</strong>
            </span>
        </a>
    </header>
</div>


<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; float: left;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" style="margin-left: 17%">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"><strong>메뉴</strong></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link link-body-emphasis">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <button id="button_1" type="button" style="width: 200px; height: 30px;" onclick="location.href='http://localhost:8090/mainboard?searchKeyword=&searchKeyword1=&searchKeyword2='"><strong>기업정보 조회</strong></button>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                <button id="button_2" type="button" style="width: 200px; height: 30px;" onclick="location.href='http://localhost:8090/myboard#'"><strong>나의 업체 관리</strong></button>
            </a>
        </li>
    </ul>
    <hr>
</div>



<div style="width:1150px; height:700px; float: right; margin-left: 20px; margin-right: 50px;">
    <main>
        <h2 style="font-size: 20px; margin-bottom: 30px; margin-top: 20px;"><strong>기업정보 조회</strong></h2>


        <div style="margin-bottom: 20px; margin-left: 87%;">
            <button onclick="saveFn()">제출</button>
        </div>

        <div class="form">

            <form style="width: 400px; margin-left:25px; margin-top: 25px; float:left;">
                <div style="width:150px; float:left;"><strong>확인서/인증서 선택</strong></div>
                <div style="width:100px; display:inline-block; margin-left:0px;">
                    <select id = cer_select name = cer_select onchange="changeFn()">
                        <option value="">==확인서/인증서 선택==</option>
                        <option value="중소기업">중소기업</option>
                        <option value="여성기업">여성기업</option>
                        <option value="장애인기업">장애인기업</option>
                        <option value="대기업">대기업</option>
                        <option value="사회적기업">사회적기업</option>
                        <option value="창업기업">창업기업</option>
                    </select>
                </div>
            </form>

            <form style="width: 250px; margin-top: 25px; display:inline-block; margin-left:-10px; float:left;">
                <div style="width:80px; float:left;"><strong>업종 선택</strong></div>
                <div style="width:100px; display:inline-block; margin-left:0px;">
                    <select id = cer_select1 name = car_select1 onchange="changeFn1()">
                        <option value="">==업종 선택==</option>
                        <option value="임업" >임업</option>
                        <option value="농업">농업</option>
                        <option value="어업">어업</option>
                        <option value="광업">광업</option>
                        <option value="제조업">제조업</option>
                        <option value="건설업">건설업</option>
                        <option value="수도업">수도업</option>
                        <option value="수도사업">수도사업</option>
                        <option value="방송업">방송업</option>
                        <option value="공급업" >공급업</option>
                        <option value="운송업">운송업</option>
                        <option value="도매">도매 및 소매업</option>
                        <option value="중개업">중개업</option>
                        <option value="금융업">금융업</option>
                        <option value="판매업">판매업</option>
                        <option value="서비스업">서비스업</option>
                        <option value="주점업">주점업</option>
                        <option value="프로그래밍">프로그래밍</option>
                        <option value="정보통신업" >정보통신업</option>
                        <option value="통신업">통신업</option>
                        <option value="연구개발업">연구개발업</option>
                        <option value="보건업">보건업</option>
                        <option value="모든">모든 업종</option>
                        <option value="부동산업">부동산업</option>
                        <option value="임대업">임대업</option>
                        <option value="창고업">창고업</option>
                        <option value="복원업">복원업</option>
                        <option value="수리업">수리업</option>
                        <option value="관리업">관리업</option>
                        <option value="복제업">복제업</option>
                        <option value="출판업">출판업</option>
                        <option value="배급업">배급업</option>
                    </select>
                </div>
            </form>

            <form onsubmit="return false;" style="width: 400px; display:inline-block; margin-top: 22px; margin-left:20px;">
                <div style="width:120px; float:left;"><strong>사업자등록번호</strong></div>
                <div style="width:270px; display:inline-block; margin-left:0px;">
                    <input id="inputValue" style="width: 200px; height:25px; " type="text" onchange="changeFn2()">
                    <input type="submit" style="height:25px" value="검색">
                </div>
            </form>

        </div>


        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col"><input type='checkbox'
                                           name='my-checkbox'
                                           value='selectall'
                                           onclick='selectAll(this)'/></th>
                    <th scope="col">No.</th>
                    <th scope="col">업체명</th>
                    <th scope="col">업종</th>
                    <th scope="col">사업자등록번호</th>
                    <th scope="col">확인서/인증서 유무</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="TB_BOARD : ${list} ">
                    <td><input type="checkbox" name="my-checkbox"></td>
                    <td th:text="${TB_BOARD.COLUMN1}">Text</td>
                    <td>
                        <a th:text="${TB_BOARD.COMPANYNAME}" th:href="@{/board/view(searchKeyword=, searchKeyword1=${TB_BOARD.SERVICECODE}, searchKeyword2=${TB_BOARD.COMPANYNUM}, searchKeyword3=${TB_BOARD.COMPANYNAME})}" th:onclick="window.open(this.href, '_blank', 'width=1250 height=500'); return false;"></a>
                    </td>
                    <td th:text="${TB_BOARD.SERVICECODE}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; max-width: 400px;">Text</td>
                    <td th:text="${TB_BOARD.COMPANYNUM}">Text</td>
                    <td th:text="${TB_BOARD.CERTIFICATION}">Text</td>
                </tr>
                </tbody>
            </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <th:block name="tableBox">
                        <li class="page-item">
                            <a class="page-link" th:if="${page != nowPage}" th:href="@{/mainboard(page = ${nowPage-6}, searchKeyword = ${param.searchKeyword}, searchKeyword1 = ${param.searchKeyword1}, searchKeyword2 = ${param.searchKeyword2})}" th:text="이전" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        </th:block>
                        <th:block name="tableBox" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item"><a class="page-link" th:if="${page != nowPage}" th:href="@{/mainboard(page = ${page -1}, searchKeyword = ${param.searchKeyword}, searchKeyword1 = ${param.searchKeyword1}, searchKeyword2 = ${param.searchKeyword2})}" th:text="${page}"></a>
                            <p><strong class="page-link" th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong></p>
                        </li>
                        </th:block>
                        <th:block name="tableBox">
                        <li class="page-item">
                            <a class="page-link" th:if="${page != nowPage}" th:href="@{/mainboard(page = ${nowPage+4}, searchKeyword = ${param.searchKeyword}, searchKeyword1 = ${param.searchKeyword1}, searchKeyword2 = ${param.searchKeyword2})}" th:text="다음" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </th:block>
                    </ul>
                </nav>



            </ul>
        </div>

        <div class="col-lg-12" id="ex3_Result2" ></div>
        <div class="col-lg-12" id="ex3_Result3" ></div>

    </main>
</div>


</body>


</html>